.todo-item-wrapper {
    width: 130px;
    padding: 14px 16px;
    padding-right: 24px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 1px solid #7562CA;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.todo-item-wrapper button {
    float: right;
    position: relative;
    top: -12px;
    right: -22px;
    width: 24px;
    height: 24px;
    font-weight: 500;
    color: #596C91;
}

.todo-item-header {
    word-break: break-all;
    hyphens: auto;
}

.todo-item-wrapper a {
    text-decoration: none;
    color: #000;
}

.todo-item-wrapper p {
    font-size: 14px;
}

.status-deleted {
    /* For now I simply remove todos using styles.
    This was done due to my understanding of task.
    The logic can be simply changed to delete todos from store completely. */
    display: none;
}

.status-completed {
    background-color: #8fff8f;
}