.search-form-wrapper {
    margin-bottom: 16px;
}

.search-form-wrapper form {
    flex-direction: column;
}

.search-form-wrapper form,
.search-row {
    display: flex;
    flex-wrap: wrap;
}

.search-form-wrapper .field-wrapper {
    margin-right: 16px;
}

.article-range-label {
    display: block;
    text-align: center;
}

.form-input {
    margin-right: 8px;
}

.news-submit-button {
    width: 60px;
}

.react-datepicker__tab-loop {
    display: inline-block;
}

.news-date-range {
    margin-left: 16px;
}

@media (max-width: 400px) {
    .news-date-range {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}