.form-wrapper {
    margin: auto;
    margin-bottom: 32px;
    width: 320px;
}

.form-header {
    color: #413a61;
}

.form-input {
    display: block;
    margin: 8px 0;
}

.form-error {
    color: #ff0000;
    margin-bottom: 8px;
    font-size: 500;
}

.form-contols button {
    margin-right: 16px;
}

.form-contols a {
    border: 1px solid #7562CA;
    color: #7562CA;
    background: #FFF;
    height: 32px;
    border-radius: 16px;
    font-size: 14px;
    padding: 4px;
    text-decoration: none;
}