.navigation-wrapper {
    display: flex;
    justify-content: flex-start;
    background-color: #7764CA;
    margin-bottom: 1rem;
}

.navigation-wrapper a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 8px;
}

.route-link-active {
    background-color: #9181D4;
    border-radius: 16px;
}