.main-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.main-wrapper a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #7562CA;
    border-radius: 16px;
    padding: 12px;
}