button {
    height: 32px;
    background-color: #ebf0f5;
    border: none;
    color: #596C91;
    border-radius: 16px;
}

button[type='submit'] {
    background-color: #7562CA;
    color: #FFF;
    padding: 12px;
    height: auto;
}

input,
textarea,
select {
    height: 32px;
    width: 100%;
    border: none;
    border-radius: 16px;
    background-color: #fff;
    padding-left: 8px;
}

textarea {
    border: none;
}

select {
    padding-right: 12px;

}

button,
input,
textarea,
select {
    outline: none;
    font-family: 'Roboto Mono', monospace;;
}

.app-content {
    margin: 0 16px;
}